@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');

.titulo {
    font-family: "Playwrite AU SA", serif;
    color: #FFF;
    font-size: 80px;
    background-color: rgba(120, 179, 206, 0.5);
    width: 100%;
    text-align: center;
    padding: 10px;
}

@media (max-width: 500px) {
    .titulo {
        font-size: 50px;
    }
}