@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');

.texto{
    margin: 5px 20px 10px 20px;
}
.titulo{
    font-family: "Playwrite AU SA", serif;
}
.subtitulo{
    font-size: 26px;
    text-decoration: underline;
}
.pergunta{
    font-weight: 600;
}

