@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');

.texto{
    margin: 5px 20px 10px 20px;
}
.titulo{
    font-family: "Playwrite AU SA", serif;
}
.subtitulo{
    font-size: 26px;
    text-decoration: underline;
}
.pergunta{
    font-weight: 600;
}
.link{
    font-size: 24px;
    background: #78B3CE;
    color: #FBF8EF;
    padding: 10px;
    text-decoration: underline;
    border-radius: 20px;
}