@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');

.titulo{
    font-family: "Playwrite AU SA", serif;
    text-align: center;
    font-size: 30px;
}

.texto{
    margin: 5px 20px 10px 20px;
}