.botao{
    background-color: transparent;
    border: none;
    font-family: "EB Garamond", serif;
    color: #FBF8EF;
    font-size: 24px;
    text-decoration: underline;
}

.botao:hover {
    color: black;
    text-decoration: underline black;
}

.item {
    border-bottom: solid 2px #78B3CE;
    padding: 5px;
}

.item:hover {
    opacity: 0.5;
}

.item a {
    text-decoration: none;
    color: #2e4a56;
    font-size: 20px;
}

.item a:hover {
    text-decoration: underline;
}