.cabecalho{
    display: flex;
    align-items: center;
    background: #78B3CE;
}

.botao{
    background-color: transparent;
    border: none;
    font-family: "EB Garamond", serif;
    color: #FBF8EF;
    font-size: 24px;
    text-decoration: underline;
    margin: 10px;
}

.botao:hover {
    color: black;
    text-decoration: underline black;
    cursor: pointer;
}

.lista{
    display: flex;
    flex-direction: column;
    background: #FBF8EF;
    width: 10%;
}

.item {
    border-bottom: solid 2px #78B3CE;
    padding: 5px 10px;
    color: #2e4a56;
    font-size: 20px;
}

.item:hover {
    opacity: 0.5;
    cursor: pointer;
}


.item:hover {
    text-decoration: underline;
}



@media screen and (max-width: 900px) {
    .lista{
        width: 15%;
    }
}
@media screen and (max-width: 800px) {
    .lista{
        width: 20%;
    }
}

@media screen and (max-width: 500px) {
    .lista {
        width: 30%;
    }
}